# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Gradle
.gradle/
build/
bin/

# Kotlin / JS / Wasm
.kotlin/
kotlin-js-store/

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
